/* Configuraciones responsive */

/* Cambio para separar menos el carrito del navList */
@media (max-width: 990px) {
  .iconsAndList {
    gap: 25px;
  }
}

/* Implementacion del menu hamburguesa y ajustes al slider*/
@media (max-width: 900px) {
  .navbarList {
    position: absolute;
    top: 60px;
    right: 0px;
    background: #256993;
    flex-direction: column;
    padding: 20px;
    height: calc(100vh - 60px);
    border-left: solid 1px black;
    font-size: 28px;
    gap: 15px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transform: translateX(110%);
    -webkit-transform: translateX(110%);
    -moz-transform: translateX(110%);
    -ms-transform: translateX(110%);
    -o-transform: translateX(110%);
    visibility: hidden;
    z-index: 2;
  }
  .showMenu {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    visibility: visible;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
  }
  .navbarListItem {
    border-bottom: solid 1px white;
  }
  #menuIcon {
    display: flex;
  }
  .slider {
    height: 325px;
  }
}

/* Modificacion del slider denuevo y al titulo y desc del hero*/
@media (max-width: 700px) {
  .slider {
    height: 275px;
  }
  .heroDesc {
    font-size: 22px;
  }
  .heroTitle {
    font-size: 50px;
  }
}

/* Modificacion de slider y titulos para diseño cuadrado */
@media (max-width: 550px) {
  .slider {
    height: 450px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  .sliderImg {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }

  .heroTitle {
    font-size: 42px;
    line-height: 1;
  }
  .heroDesc {
    font-size: 18px;
  }
}

/* Modificacion del titulo del navbar y al slider */
@media (max-width: 450px) {
  .title {
    font-size: 20px;
  }
  .menuAndCartIcons {
    font-size: 20px;
    gap: 15px;
  }
  .slider {
    height: 375px;
  }
}

@media (max-width: 390px) {
  .slider {
    height: 325px;
  }
}
