/* Fuente de letra: Poppins */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Seteos generales */

:root {
  --darkBlack: black;
  --superOrange: orangered;
  --mainBlue: #256993;
  --secondaryBlue: #0a5a8b;
  --tertiaryBlue: rgb(0, 147, 232);
  --fourthBlue: rgb(3, 46, 133);
  --almostWhite: #eaf2f6;
  --trueWhite: white;
  --red: red;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: inherit;
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
  /* border: solid 1px red; */
}

body {
  background: var(--almostWhite);
  width: 100%;
  overflow-x: hidden;
  padding-top: 60px;
  flex-direction: column;
}

html {
  width: 100%;
  font-size: 16px;
  overflow-x: hidden;
}

/* Clase reutilizable de centrado flex */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* NAVBAR */

.navbar {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  color: var(--almostWhite);
  background-color: var(--mainBlue);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: solid 1px var(--darkBlack);
  z-index: 3;
}

.logo {
  height: 50px;
  width: 70px;
  position: absolute;
  left: -10px;
  z-index: 0;
}

.logoAndTitle {
  position: relative;
}

.title {
  font-weight: 400;
  font-size: 1.8rem;
  z-index: 1;
  margin-left: 42px;
}

.blueSpan {
  font-weight: 600;
  color: var(--darkBlack);
}

.iconsAndList {
  gap: 70px;
}

.navbarList {
  display: flex;
  gap: 20px;
  font-size: 1.12rem;
  font-weight: 400;
  user-select: none;
  cursor: pointer;
}

.navbarListLink:active {
  color: var(--darkBlack);
}

.menuAndCartIcons {
  font-size: 1.5rem;
  gap: 25px;
}

#menuIcon {
  display: none;
  cursor: pointer;
}

#menuIcon:active {
  color: var(--darkBlack);
}

.blur {
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.125);
  position: absolute;
  top: 60px;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 1;
  left: 0px;
}

/* Carrito */
#cartIcon {
  cursor: pointer;
}

#cartIcon:active {
  color: var(--darkBlack);
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  height: calc(100vh - 60px);
  position: absolute;
  padding: 10px 0px;
  top: 60px;
  right: 0px;
  width: 300px;
  border-left: solid 1px var(--darkBlack);
  background: var(--mainBlue);
  transform: translateX(110%);
  visibility: hidden;
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
  z-index: 2;
  overflow-y: auto;
  scrollbar-width: thin;
}

.showCart {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  visibility: visible;
}

.cartTitle {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  border-bottom: solid 1px var(--trueWhite);
  user-select: none;
  width: 100%;
}

/* Productos del carrito */
.cartProductsContainer {
  flex-direction: column;
  gap: 10px;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}

.cartProCard {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  background: var(--trueWhite);
  height: 100px;
  color: var(--darkBlack);
  padding: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  position: relative;
}

.cartProductImgContainer {
  width: 30%;
  height: 100%;
}

.cartProductImgContainer img {
  height: 70%;
  width: 90%;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.cartProTextContainer {
  width: 65%;
  flex-direction: column;
}

.proQuantity {
  gap: 5px;
}

.quantityBtn {
  all: unset;
  background: var(--mainBlue);
  color: var(--trueWhite);
  padding: 3px 7px;
  font-size: 12px;
  cursor: pointer;
}

.quantityBtn:active {
  background: var(--darkBlack);
  color: var(--trueWhite);
}

.emptyCartMsg {
  font-size: 1.3rem;
  text-align: center;
}

.nameAndModel {
  color: var(--secondaryBlue);
  max-width: 95%;
}

.quantity {
  color: var(--red);
  font-weight: 700;
}

.cPrice,
.orangeSpan {
  color: var(--superOrange);
  font-weight: 800;
}

.removeProductBtn {
  all: unset;
  background: var(--red);
  color: var(--trueWhite);
  font-size: 0.6rem;
  padding: 2px 5px;
  border-radius: 47%;
  -webkit-border-radius: 47%;
  -moz-border-radius: 47%;
  -ms-border-radius: 47%;
  -o-border-radius: 47%;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.removeProductBtn:active {
  background: var(--darkBlack);
  color: var(--trueWhite);
}

.cartBtn {
  all: unset;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: pointer;
}

.cartBtn:active {
  background: var(--darkBlack);
  color: var(--trueWhite);
}

.buyBtn {
  background: var(--trueWhite);
  color: var(--secondaryBlue);
  border: solid 1px var(--trueWhite);
}

.emptyCartBtn {
  background: var(--red);
  color: var(--trueWhite);
  border: solid 1px var(--darkBlack);
}

.totalMoney {
  font-size: 1.3rem;
  width: 90%;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  background: var(--trueWhite);
  padding: 5px 10px;
  color: var(--darkBlack);
  flex-wrap: wrap;
}

#cartTotal {
  font-weight: 500;
  color: var(--superOrange);
}

.cartMainBtns {
  gap: 5px;
  flex-direction: column;
  width: 100%;
}

.cartIconAndBubble {
  position: relative;
}

.cartBubble {
  position: absolute;
  background: var(--almostWhite);
  color: var(--mainBlue);
  font-size: 0.7rem;
  padding: 0px 5px;
  top: -3px;
  right: -10px;
  width: 17px;
  height: 17px;
  text-align: center;
  user-select: none;
}

/* Slider - Hero */
#hero {
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.titleAndDesc {
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}

.sectionTitle {
  font-size: 3.75rem;
  color: var(--mainBlue);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.sectionDesc {
  font-size: 1.75rem;
  padding: 0px 40px;
  text-align: center;
}

.slider {
  height: 550px;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  background-color: var(--almostWhite);
  align-items: center;
  position: relative;
  overflow-x: hidden;
  z-index: 1;
  margin-bottom: 40px;
  width: 100%;
}

.boxShadow {
  box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 2px 1px 8px 1px rgba(0, 0, 0, 0.44);
}

.sliderImgMoveRight {
  transform: translateX(500%);
  -webkit-transform: translateX(500%);
  -moz-transform: translateX(500%);
  -ms-transform: translateX(500%);
  -o-transform: translateX(500%);
}

.sliderImgMoveLeft {
  transform: translateX(-500%);
  -webkit-transform: translateX(-500%);
  -moz-transform: translateX(-500%);
  -ms-transform: translateX(-500%);
  -o-transform: translateX(-500%);
}

.sliderImg {
  height: 100%;
  width: 100%;
  transition: all 3s ease;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -ms-transition: all 3s ease;
  -o-transition: all 3s ease;
}

.sliderBtn {
  all: unset;
  font-size: 3.75rem;
  background: none;
  color: var(--darkBlack);
  user-select: none;
  cursor: pointer;
}

.sliderBtn:active {
  color: var(--trueWhite);
}

.prevHero {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.nextHero {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.dotsDisplay {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  gap: 15px;
}

.dot {
  background: var(--darkBlack);
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* SOBRE NOSOTROS */

#sobreNosotros {
  text-align: center;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
}

.sectionSubtitle {
  font-size: 2.5rem;
  color: var(--mainBlue);
  font-weight: 500;
  text-align: center;
}

.cardsContainer {
  flex-wrap: wrap;
  gap: 25px;
  padding: 0px 20px;
}

.card {
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--secondaryBlue);
  color: var(--trueWhite);
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border: solid 1px var(--darkBlack);
}

.cardIcon {
  font-size: 4.375rem;
  margin-top: 20%;
}

.cardDesc {
  font-size: 1.25rem;
  font-weight: 200;
  padding-top: 10px;
  border-top: solid 1px var(--trueWhite);
}

/* productos Section */

#productos {
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  padding: 0px 20px;
  padding-top: 20px;
}

.filtersAndProductsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.dynamicFilters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.filtersAndButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  background: var(--almostWhite);
}

.resetContainer {
  gap: 10px;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 250px;
}

.productsAndPagesContainer {
  flex-grow: 1;
  flex-direction: column;
  gap: 5px;
  background: var(--almostWhite);
}

.productsContainer {
  flex-grow: 1;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.productCard {
  width: 300px;
  padding: 20px;
  background: var(--trueWhite);
  flex-direction: column;
  max-height: 600px;
}

.noNetbookFoundCard {
  width: 280px;
  gap: 10px;
  flex-direction: column;
  position: relative;
  padding: 20px 15px;
  background: var(--trueWhite);
  margin: 20px 0px;
}

.noNetbookText {
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.NNcardTitle {
  font-size: 30px;
  color: var(--secondaryBlue);
}

.NNcardText {
  font-size: 18px;
}

.noNetbookImg {
  width: 95%;
  height: 180px;
}

.loadBtn,
.showLessBtn {
  all: unset;
  background: var(--tertiaryBlue);
  color: var(--trueWhite);
  padding: 5px 15px;
  font-size: 1.3rem;
  margin-bottom: 20px;
  cursor: pointer;
}

.loadBtn:active,
.showLessBtn:active {
  background: var(--darkBlack);
  color: var(--trueWhite);
}

.showLessBtn {
  font-size: 1.05rem;
}

.cardText {
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.brand {
  font-size: 1.56rem;
  color: var(--secondaryBlue);
  font-weight: 600;
}
.model,
.cpu,
.ramAndStorage,
.os {
  font-size: 1.125rem;
}

.condition {
  font-size: 1.1rem;
  color: var(--red);
  font-weight: 600;
}

.divider {
  color: var(--red);
  font-size: 1.25rem;
}

.precio {
  font-size: 1.75rem;
  color: var(--secondaryBlue);
  font-weight: 500;
}

.productSlider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 200px;
  border-bottom: solid 2px var(--secondaryBlue);
  padding-bottom: 10px;
}

.productSliderBtn {
  all: unset;
  font-size: 40px;
  color: var(--darkBlack);
}

.nextProductImg,
.prevProductImg {
  cursor: pointer;
  max-width: fit-content;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-70%);
  -webkit-transform: translateY(-70%);
  -moz-transform: translateY(-70%);
  -ms-transform: translateY(-70%);
  -o-transform: translateY(-70%);
}

.prevProductImg {
  left: 0px;
}

.productSliderDots {
  display: flex;
  gap: 13px;
}

.productSliderDot {
  height: 8px;
  width: 8px;
}

.productImg {
  width: 85%;
  height: 95%;
}

/* Filtros */
.btn {
  font-size: 1rem;
  padding: 5px 10px;
  background: var(--tertiaryBlue);
  border: none;
  color: var(--trueWhite);
  cursor: pointer;
  border: solid 1px var(--trueWhite);
}

.filterBtnSelected {
  background: var(--superOrange);
}

.filterOptions {
  max-width: 250px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filter {
  border-bottom: solid 2px var(--fourthBlue);
  padding-bottom: 5px;
  position: relative;
}

.downIndicator,
.upIndicator {
  display: none;
}

.filterName {
  font-size: 1.125rem;
}

.filterNameMobile {
  display: none;
}

.activeFilters {
  display: flex;
  max-width: 250px;
  flex-wrap: wrap;
  gap: 5px;
}

.addToCartBtn {
  border: none;
  background: var(--mainBlue);
  color: var(--trueWhite);
  font-size: 1.125rem;
  padding: 5px 10px;
  cursor: pointer;
}

/* Contactanos */
#contactanos {
  padding: 20px;
  padding-bottom: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.contactanosCardContainer {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 20px;
}

.contactUsCard {
  padding: 20px 10px;
  width: 350px;
  background: var(--mainBlue);
  color: var(--trueWhite);
  flex-direction: column;
}

.contactCardTitle {
  font-size: 2.5rem;
  font-weight: 400;
}

.cardForm {
  flex-direction: column;
  gap: 5px;
  width: 85%;
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  border: none;
  height: 25px;
  font-size: 1rem;
  color: var(--darkBlack);
  padding: 0px 3px;
}

.markedInput {
  box-shadow: 1px 1px 8px 1px var(--trueWhite);
  -webkit-box-shadow: 1px 1px 8px 1px var(--trueWhite);
  -moz-box-shadow: 1px 1px 8px 1px var(--trueWhite);
}

.textArea {
  height: 220px;
  resize: none;
  font-size: 1rem;
}

.submitBtn {
  margin-top: 10px;
  height: 30px;
  width: 80px;
  background: white;
  color: black;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.iframeMap {
  width: 100%;
  height: 330px;
  border: none;
}

.direction {
  text-align: center;
}
.label {
  font-size: 1.2rem;
}

/* footer */
#footer {
  background: var(--mainBlue);
  color: var(--trueWhite);
  padding: 5px 40px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.footerList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.socialMediaContainer {
  gap: 10px;
}

/* Mensaje modal */
.modalMsg {
  width: 100%;
  padding: 5px 0px;
  border-top: solid 2px var(--darkBlack);
  background: var(--secondaryBlue);
  color: var(--trueWhite);
  text-align: center;
  position: fixed;
  bottom: 0px;
  z-index: 10;
}

.hideModal {
  opacity: 0;
  visibility: hidden;
}

/* Clases de multiple uso */

.maxWidth {
  max-width: 1600px;
}
.unselectedDot {
  opacity: 40%;
}

.transition1s {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

.transition2s {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.transition3s {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.borderRadius5 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.borderRadius10 {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.borderRadius15 {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.borderRadiusCircle {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.hide {
  display: none;
}

.show {
  display: flex;
}
